---
title: Check Rooms Availability
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <body>

    <main id="main" role="main">
      <h1>{{ page.title }}</h1>

      <div class="grid">

        {%- for room in site.data.rooms -%}

        <article role="article" class="card">
          <div class="meta">
            <h2>
              <a target="_blank" rel="noopener noreferrer" href="{{ room.link }}">
                {{ room.name }}
              </a>
            </h2>
            <p>{{ room.details }}</p>
          </div>

        </article>
  
        {%- endfor -%}

      </div>
    
    </main>

  </body>
</html>
